# 项目排除路径
/.gradle/
/build/
/mall-auth/.gradle/
/mall-auth/build/
/mall-auth/build/classes/java/main/
/mall-common/build/
/mall-common/build/classes/java/main/
/mall-gateway/.gradle/
/mall-gateway/build/
/mall-gateway/build/classes/java/main/
/mall-gateway/build/classes/java/test/
/mall-user/.gradle/
/mall-user/build/
/mall-user/build/classes/java/main/
/mall-user/build/classes/java/test/
/mall-nacos
/mall-seata
# 项目排除路径
/mall-admin-api/build/
/mall-admin-api/build/classes/java/main/
/mall-admin-boot/.gradle/
/mall-admin-boot/build/
/mall-admin-boot/build/classes/java/main/
/mall-admin-boot/build/classes/java/test/
/mall-common-redis/.gradle/
/mall-common-redis/build/
/mall-common-redis/build/classes/java/main/
/mall-common-web/build/
/mall-common-web/build/classes/java/main/
/mall-oauth/.gradle/
/mall-oauth/build/
/mall-oauth/build/classes/java/main/
/mall-shop-api/build/
/mall-shop-boot/build/
/mall-shop-boot/build/classes/java/main/
/mall-user-api/build/
/mall-user-api/build/classes/java/main/
/mall-user-boot/build/
/mall-user-boot/build/classes/java/main/